<nav class="navbar">
  <div class="navbar-container">
    <input type="checkbox" name="" id="checkbox">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li><a routerLink="/Home">&FilledVerySmallSquare;&parallel;Home&parallel;</a></li>
      <li><a routerLink="/shop">&FilledVerySmallSquare;&parallel;Shop&parallel;</a></li>
      <li><a routerLink="/blog">&FilledVerySmallSquare;&parallel;Blog&parallel;</a></li>
      <li><a routerLink="/Contact">&FilledVerySmallSquare;&parallel;Contact&parallel;</a></li>
      <li><a routerLink="/Order">&FilledVerySmallSquare;&parallel;Orders&parallel;</a></li>
      <li><a routerLink="/About">&FilledVerySmallSquare;&parallel;About&parallel;</a></li>
      <li><a routerLink="/team">&FilledVerySmallSquare;&parallel;Team&parallel;</a></li>
      <div class="icons">
        <a routerLink="/register" class="fas fa-user"></a> <!-- User icon -->
        <a routerLink="/cart" class="fas fa-shopping-cart"></a> <!-- Cart icon -->
      </div>
    </ul>
    
  </div>
  <div class="logo">
    <img src="/assets/images/LogoSample_ByTailorBrands.jpg" style="mix-blend-mode: darken;" width="45%" alt="">
  </div>
</nav>
