<div class="responsive-container-block big-container">
  <div class="responsive-container-block container">
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-12 img-one">
        <img alt="golden-lines.png" class="image-block bg-image" src="/assets/R.jpeg">
      </div>
      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-12 content-one">
      
       
<div class="content-container">
  <p class="text-blk section-head">
     OnlineShopping:- Make Your Shopping Easier
  </p>
  <p class="text-blk section-text">
      In the world of online shopping, we bring you a diverse and delightful shopping experience. 
  </p>
  <p class="text-blk section-text">
      Explore our virtual aisles and discover a curated selection of products that cater to your lifestyle. Whether you're searching for cutting-edge electronics, trendy fashion items, or cozy home goods, we have it all. Our commitment is to provide you with high-quality products, secure transactions, and reliable doorstep delivery. Embrace the ease and convenience of online shopping with us.
  </p>
  <a href="#" class="button">Learn More</a>
</div>
        
        <!-- Learn More Button -->
       
        
        <!-- Contact Information -->
        <div class="contact-info">
          <p class="text-blk section-head">Contact Us</p>
          <p class="text-blk section-text">
            <b>Address:</b> 123 Main Street, Karad<br>
            <b>Phone:</b> (555) 123-4567<br>
           <b>Email:</b>  onlineshopping&#64;gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
