<section id="contact">
  <div class="contact container">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60952.85952821083!2d74.1560552234009!3d17.288812751644283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc182450c753bad%3A0xb3493b19ae7886ca!2sKarad%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1708869296890!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
    <form action="https://formspree.io/f/xzbowpjq" method="POST">
      <div class="form">
        <div class="form-txt">
          <h1>&FilledVerySmallSquare;Contact Us</h1>
          <h4>&FilledVerySmallSquare;INFORMATION</h4>
         
          <span>As you might expect of a company that began as a high-end interiors contractor, we pay strict
            attention.</span>
          <h3>&FilledVerySmallSquare;USA</h3>
          <p>195 E Parker Square Dr, Parker, CO 801<br>+43 982-314-0958</p>
          <h3>&FilledVerySmallSquare;India</h3>
          <p>HW95+C9C, Lorem ipsum dolor sit.<br>411014</p>
        </div>
        <div class="form-details">
          <input  type="text" name="name" id="name" placeholder="Name" required>
          <input type="email" name="email" id="email" placeholder="Email" required>
          <textarea name="message" id="message" cols="52" rows="7" placeholder="Message" required></textarea>
          <button>SEND MESSAGE</button>
        </div>
      </div>
    </form>
  </div>
</section>
