body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

section {
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    padding: 50px 0;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.page-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
    background: linear-gradient(to right, #15b337, #ff2d55, #4326ad);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    transition: background-position 0.5s ease, color 0.3s ease-in-out;
    background-size: 200% auto;
    background-position: 100% 0;
    cursor: pointer;
}

.page-title h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #a466ea; /* Change to the desired color */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
}

.page-title:hover h1 {
    color: #a466ea; /* Change to the desired color on hover */
    background-position: 0 0;
}

.page-title:hover h1::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



.blog-card {
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.category {
    font-size: 12px;
    font-weight: 600;
    color: #667eea;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blog-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #9f4dce;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

.blog-card:hover .blog-title {
    color: #7f93f0;
}

.blog-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #718096;
    margin: 15px 0;
}

.learn-more-link {
    color: #e53e3e;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.learn-more-link:hover {
    color: #c53030;
}

.learn-more-link svg {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.blog-card:hover .learn-more-link svg {
    transform: translateX(5px);
}

.blog-stats {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.stat-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 0.875rem;
    color: #718096;
}

.stat-item svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: none;
    stroke: #718096;
    stroke-width: 2;
    transition: stroke 0.3s ease-in-out;
}

.blog-card:hover .stat-item svg {
    stroke: #434190;
}
