
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <section id="home">
    <div class="home_page ">
      <div class="home_img ">
        <img src="/assets/images/young-man-woman-using-laptop.jpg" alt="img ">
      </div>
      <div class="home_txt ">
        <p class="collectio ">SUMMER COLLECTION</p>
        <h2>FALL - WINTER<br>Collection 2023</h2>
        <div class="home_label ">
          <p>A specialist label creating luxury essentials. Ethically crafted<br>with an unwavering commitment to exceptional quality.</p>
        </div>
        <button><a href="/shop">SHOP NOW</a><i class='bx bx-right-arrow-alt'></i></button>
        <div class="home_social_icons">
          <a href="#"><i class='bx bxl-facebook'></i></a>
          <a href="#"><i class='bx bxl-twitter'></i></a>
          <a href="#"><i class='bx bxl-pinterest'></i></a>
          <a href="#"><i class='bx bxl-instagram'></i></a>
        </div>
      </div>
    </div>
  </section>

  <section id="collection">
    <div class="collections container">
      <div class="content">
        <img src="https://i.postimg.cc/Xqmwr12c/clothing.webp" alt="img" />
        <div class="img-content">
          <p>Clothing Collections</p>
          <button><a href="/shop">SHOP NOW</a></button>
        </div>
      </div>
      <div class="content2">
        <img src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img" />
        <div class="img-content2">
          <p>Shoes Spring</p>
          <button><a href="/shop">SHOP NOW</a></button>
        </div>
      </div>
      <div class="content3">
        <img src="https://i.postimg.cc/MHv7KJYp/access.webp" alt="img" />
        <div class="img-content3">
          <p>Accessories</p>
          <button><a href="/shop">SHOP NOW</a></button>
        </div>
      </div>
    </div>
  </section>

  <section id="collection">
    <div class="collections container">
      <div class="content">
        <img src="/assets/images/hero-product-1.jpg" alt="img" />
        <div class="img-content">
          <p>Flower Pot</p>
          <button><a href="/shop">SHOP NOW</a></button>
        </div>
      </div>
      <div class="content2">
        <img src="/assets/images/product-4.jpg" alt="img" />
        <div class="img-content2">
          <p>Tea Pot</p>
          <button><a href="/shop">SHOP NOW</a></button>
        </div>
      </div>
      <div class="content3">
        <img src="/assets/images/product-6.jpg" alt="img" />
        <div class="img-content3">
          <p>Chaires</p>
          <button><a href="/shop">SHOP NOW</a></button>
        </div>
      </div>
    </div>
  </section>

  <section id="sellers">
    <div class="seller container">
      <h2>Top Sales</h2>
      <div class="best-seller">
        <div class="best-p1">
          <img src="/assets/images/product-18.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Bottle</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
            </div>
            <div class="price">
             &#x20B9;379.24
              <div class="colors">
                <i class='bx bxs-circle red'></i>
                <i class='bx bxs-circle blue'></i>
                <i class='bx bxs-circle white'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
            <!-- <div class="add-cart">
                            <button>Add To Cart</button>
                        </div> -->
          </div>
        </div>
        <div class="best-p1">
          <img src="/assets/images/product-11.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Pot</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
            </div>
            <div class="price">
             &#x20B9;217.24
              <div class="colors">
                <i class='bx bxs-circle green'></i>
                <i class='bx bxs-circle grey'></i>
                <i class='bx bxs-circle brown'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="/assets/images/product-12.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Stand</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bx-star'></i>
            </div>
            <div class="price">
             &#x20B9;127.24
              <div class="colors">
                <i class='bx bxs-circle brown'></i>
                <i class='bx bxs-circle green'></i>
                <i class='bx bxs-circle blue'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="https://i.postimg.cc/QtjSDzPF/bs3.png" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Shoes</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
            </div>
            <div class="price">
             &#x20B9;443.67
              <div class="colors">
                <i class='bx bxs-circle red'></i>
                <i class='bx bxs-circle grey'></i>
                <i class='bx bxs-circle blue'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seller container">
      <h2>New Arrivals</h2>
      <div class="best-seller">
        <div class="best-p1">
          <img src="/assets/images/product-13.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Stand</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
            </div>
            <div class="price">
             &#x20B9;110.23
              <div class="colors">
                <i class='bx bxs-circle blank'></i>
                <i class='bx bxs-circle blue'></i>
                <i class='bx bxs-circle brown'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="https://i.postimg.cc/zD02zJq8/na2.png" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Bag</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
            </div>
            <div class="price">
             &#x20B9;409.28
              <div class="colors">
                <i class='bx bxs-circle brown'></i>
                <i class='bx bxs-circle red'></i>
                <i class='bx bxs-circle green'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="/assets/images/product-16.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Lamp</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
            </div>
            <div class="price">
             &#x20B9;106.24
              <div class="colors">
                <i class='bx bxs-circle grey'></i>
                <i class='bx bxs-circle blank'></i>
                <i class='bx bxs-circle blank'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="/assets/images/product-19.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Tea-Set</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
            </div>
            <div class="price">
             &#x20B9;199.67
              <div class="colors">
                <i class='bx bxs-circle grey'></i>
                <i class='bx bxs-circle red'></i>
                <i class='bx bxs-circle blue'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seller container">
      <h2>Hot Sales</h2>
      <div class="best-seller">
        <div class="best-p1">
          <img src="/assets/images/product-3.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Flower Pot</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
            </div>
            <div class="price">
             &#x20B9;379.24
              <div class="colors">
                <i class='bx bxs-circle grey'></i>
                <i class='bx bxs-circle black'></i>
                <i class='bx bxs-circle blue'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="/assets/images/product-14.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Tea-Pot</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
            </div>
            <div class="price">
             &#x20B9;101.23
              <div class="colors">
                <i class='bx bxs-circle blank'></i>
                <i class='bx bxs-circle blue'></i>
                <i class='bx bxs-circle brown'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="https://i.postimg.cc/RhVP7YQk/hs1.png" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England T-Shirt</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
              <i class='bx bxs-star'></i>
            </div>
            <div class="price">
             &#x20B9;115.24
              <div class="colors">
                <i class='bx bxs-circle blank'></i>
                <i class='bx bxs-circle red'></i>
                <i class='bx bxs-circle blue'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
        <div class="best-p1">
          <img src="/assets/images/product-10.jpg" alt="img">
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>PS England Chaire</p>
            </div>
            <div class="rating">
              <i class='bx bxs-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
              <i class='bx bx-star'></i>
            </div>
            <div class="price">
             &#x20B9;599.28
              <div class="colors">
                <i class='bx bxs-circle blank'></i>
                <i class='bx bxs-circle grey'></i>
                <i class='bx bxs-circle brown'></i>
              </div>
            </div>
            <div class="buy-now">
              <button><a href="/shop">Buy Now</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="news">
    <div class="news-heading">
      <p>LATEST NEWS</p>
      <h2>Fashion New Trends</h2>
    </div>
    <div class="l-news container">
      <div class="l-news1">
        <div class="news1-img">
          <img src="https://i.postimg.cc/2y6wbZCm/news1.jpg" alt="img">
        </div>
        <div class="news1-conte">
          <div class="date-news1">
            <p><i class='bx bxs-calendar'></i> 12 February 2022</p>
            <h4>What Curling Irons Are The Best Ones</h4>
            <a href="/blog">read more</a>
          </div>
        </div>
      </div>
      <div class="l-news2">
        <div class="news2-img">
          <img src="https://i.postimg.cc/9MXPK7RT/news2.jpg" alt="img">
        </div>
        <div class="news2-conte">
          <div class="date-news2">
            <p><i class='bx bxs-calendar'></i> 17 February 2022</p>
            <h4>The Health Benefits Of Sunglasses</h4>
            <a href="/blog">read more</a>
          </div>
        </div>
      </div>
      <div class="l-news3">
        <div class="news3-img">
          <img src="https://i.postimg.cc/x1KKdRLM/news3.jpg" alt="img">
        </div>
        <div class="news3-conte">
          <div class="date-news3">
            <p><i class='bx bxs-calendar'></i> 26 February 2023</p>
            <h4>Eternity Bands Do Last Forever</h4>
            <a href="/blog">read more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Online Shopping </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Discover the latest trends in fashion, gadgets, and more. From cardigans to tote bags, explore our diverse collection and embrace the online shopping experience. Whether you're in Brooklyn or beyond, we bring the best deals right to your fingertips.</p>
    </div>
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-pink-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M8 17l4 4 4-4m-4-5v9"></path>
              <path d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
            <p class="leading-relaxed">Downloads</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-pink-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">1.3K</h2>
            <p class="leading-relaxed">Users</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <img src="/assets/images/images.png" alt="Files Icon" class="w-12 h-12 mb-3 inline-block">
            <h2 class="title-font font-medium text-3xl text-gray-900">744</h2>
            <p class="leading-relaxed">Orders</p>
          </div>
        </div>
  
        <!-- Card for Places -->
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <img src="/assets/images/img.jpg" height="50%" width="50%" alt="Places Icon" class="w-12 h-12 mb-3 inline-block">
            <h2 class="title-font font-medium text-3xl text-gray-900">466</h2>
            <p class="leading-relaxed">Delivery's</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  